@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F4F4F4;
    
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(129, 129, 129, 0.468);
    border-radius: 25px;
}
@media (min-width: 450px) {
    .s\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (min-width: 450px) {
    .s\:w-\[50\%\] {
        width: 50%;
    }
}
@layer components {
    .b {
      @apply h-10 text-xs lg:text-sm xl:text-base rounded-lg px-3 flex items-center justify-center font-light text-slate-900;
    }
  }
